@import url(https://fonts.bunny.net/css?family=abril-fatface:400|albert-sans:200);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.full {
    display: flex;
}

.image-sidebar {
    color: white;
    width: 30vw;
    height: 100vh;
    background-image: url(./background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 2rem;
    font-weight: bold;
    background-color: #00000060;
    width: 100%;
    margin-top: 20vh;
    height: 100px;
}

.logo-img svg {
    width: 60px;
    height: auto;
}

.sidebar-credit {
    font-size: 0.8rem;
    margin-top: auto;
    margin-bottom: 10px;
}

.sidebar-credit a {
    color: white;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.intro-text {
    padding: 18px;
    margin-left: 20px;
}

.intro-main {
    font-family: 'Abril Fatface', display;
    font-size: 1.8rem;
}

.intro-sub {
    font-family: 'Albert Sans', sans-serif;
}

.main-form {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.submit,
.main-form,
.login {
    padding: 20px;
    padding-left: 40px;
    width: 70vw;
}

label {
    text-transform: uppercase;
    font-size: 0.8rem;
}

fieldset {
    border: 0;
    display: flex;
    gap: 20px;
}

fieldset > div {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

input {
    font-size: 0.9rem;
    border-radius: 4px;
    height: 1.7rem;
    padding: 0 5px;
    border-width: 1px;
}

input:valid {
    border-color: blue;
}

input:invalid {
    border-color: red;
}

button[type="submit"] {
    padding: 10px 18px;
    font-size: 0.9rem;
    border-radius: 5px;
    border-color: greenyellow;
    color: white;
    font-weight: bold;
    background-color: green;
}

.login {
    padding-top: -10px;
}

.login a {
    color: green;
    text-decoration: none;
}